# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache/

# VS Code
.vscode/

# Environments
.env
.venv
ENV/
env/
venv/
env.bak/
venv.bak/

# Logs
*.log
